################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SyntaxAnalyzer/v16
/SyntaxAnalyzer/Debug
*.vcxproj
*.filters
*.user
/SyntaxAnalyzerV1.5.zip
